.card-container {
    height: 275px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    overflow: hidden;
}
.link-wrapper {
    min-height: 300px;
    min-width: 350px;
    margin: 10px;
    transition: transform 0.5s ease;
}
.link-wrapper:hover {
    transform: scale(1.03);
}
.link-wrapper a {
    color: var(--text-color);
    text-decoration: none;
}
.image {
    height: 220px;
}
.content {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .card-container {
        max-width: 300px;
    }
}